<footer>
    <div class="f-info">
        <div class="f-info-social">

            <a href="https://x.com/shhriiii"><i class="fa-brands fa-twitter"></i></a>
           
            <a href="https://www.instagram.com/shhriiii?igsh=MXI2eGRja3R5OTA5cw==" class="me">
                <i class="fa-brands fa-instagram"></i>
            </a>
            
            <a href="https://www.linkedin.com/in/shriyansh-pandey-843173221?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="me">
                <i class="fa-brands fa-linkedin"></i>
            </a>

        </div>
        <div class="f-info-brand">&copy; Krishi Kendra </div>
        <div class="f-info-links">
            
            <a href="/terms">Terms & Condition</a>

        </div>
    </div>
</footer>
<div></div>