<!-- <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-tractor"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">All Disease</a>
        <a class="nav-link" href="/listings/blog">All Blogs</a>
      </div>
    </div>
  </div>
</nav> -->
<!-- new -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-tractor"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">All Disease</a>
        <a class="nav-link" href="/listings/blog">All Blogs</a>
        <!-- New Chatbot and Govt Subsidy Links -->
        <a class="nav-link" href="listings/chatbot">Chatbot</a>
        <a class="nav-link" href="/listings/subsidy">Govt Subsidy</a>
        <a class="nav-link" href="/listings/drone">Drone Facility</a>

      </div>
    </div>
  </div>
</nav>


<div></div>