<% layout("/layouts/boilerplate") %>
    <!-- <div class="header-container">
        <h1>Welcome to AgroWorld</h1>
        <p>Your gateway to modern agriculture</p>
        <a href="/listings" class="btn-start">Start Exploring</a>
    </div>
    </header>
    <section id="explore">
        <h2>Explore Our Resources</h2>
        <!-- Add more content as needed -->
    <!-- </section> -->
    <body class="agri-body">
        <nav class="agri-navbar">
          <div class="agri-container">
            <h1 class="agri-title">Welcome to Krishi Kendra</h1>
          </div>
        </nav>
      
        <div class="agri-container">
          <section class="agri-hero">
            <h2 class="agri-hero-text">Embrace Nature with Modern Farming</h2>
            <a href="/listings"> <button class="agri-button">Start Exploring</button>  </a>
          </section>
        </div>