<% layout("/layouts/boilerplate") %>
<ol style="margin-top: 1rem;">
    <li>This website is solely intended for educational purposes.</li>
    <li>All images and content used on this site remain the property of their respective owners.</li>
    <li>There is no intent to claim ownership or misrepresent any third-party content as our own.</li>
</ol>